html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
  }

.bg-pink {
    background-color: #FFF0ED;
  }

  .title-bar {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: fixed;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*keeps nav bar to top left corner*/
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.25rem 2.1875rem;
    width: 100%;
    z-index: 1;
  }

  .title-bar_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .title-bar_logo-icon {
    height: 3.5rem;
  }
  
  .title-bar_logo-title {
    margin: 0;
    font-size: 3.5rem;
    font-weight: 100;
  }

  .title-bar_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .black-text {
    color: black;
  }

  .blue-text {
    color: #5BACC3;
  }

  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    padding: 6.25rem 0;
    margin-top: 6.75rem;
  }

  .hero_left-column {
    margin-top: 3.125rem;
    margin-left: 9.375rem;
  }

  .hero_section-heading {
    font-size: 3.75rem;
    font-weight: 100;
    margin-bottom: 1.25rem;
  }

  .btn_container {
    position: relative;
    margin: 1.563rem 0;
    height: 3.438rem;
  }

  .btn {
    background-color: #5BACC3;
    width: 11.25rem;
    height: 3.438rem;
    border: none;
    position: absolute;
  }

  .btn_border {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    height: 3.438rem;
    width: 11.25rem;
    border: 3px solid black;
    background-color: rgba(0, 0, 0, 0);
    margin: -0.4375rem -0.4375rem 0;
    text-transform: uppercase;
    color: white;
  }

  .btn_container-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hero_right-column {
    margin: 0 9.375rem 3.438rem 9.375rem;
    margin-right: 9.375rem;
    margin-bottom: 3.438rem;
  }
  
  .hero_right-column-image {
    height: 34.25rem;
  }
  
  /*Product Section*/
  .product-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    background-color: #f7f7f7;
    padding-bottom: 2.813rem;
  }

  .product-section__heading {
    margin: 3.125rem 0;
    font-size: 3.75rem;
    font-weight: 100;
  }

  .product-section__card-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 2.813rem;
  }

  .product-section__card {
    margin-top: 1.25rem;
    padding-top: 2.813rem;
    border-radius: .625rem;
    width: 27.188rem;
    height: 27.688rem;
    -webkit-box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
            box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
    background-color: white;
  }

  .product-section__card-image {
    height: 62%;
  }

  .product-section__card-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: calc(38% - 9.0625rem);
    width: 100%;
    height: 9.0625rem;
    border-radius: 0 0 .625rem .625rem;
  }

  .product-section__card-details-left {
    text-align: left;
  }

  .product-section__card-details-title {
    margin-top: 0;
    margin-bottom: 0.9375rem;
    font-size: 2.063rem;
    font-weight: 100;
  }

  .product-section__card-details-quantity {
    font-weight: 100;
    font-size: 1.313rem;
  }

  .product-section__card-details-price {
    color: #5BACC3;
    font-weight: normal;
    margin: 0;
    font-size: 3.75rem;
    font-weight: 100;
  }

  .discount-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 6.25rem 6.25rem 6.25rem;
  }

  .discount-section_text {
    font-size: 2.813rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 71.0625rem;
    height: 11.875rem;
    color: white;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .footer {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 21.875rem;
    position: relative;
  }

  .footer-heading, .footer__item-title {
    font-size: 2.063rem;
    font-weight: 100;
  }
  .footer__item-title {
    margin: 0 0 0.9375rem 0;
  }
  .footer__item-description {
    font-size: 1.313rem;
  }
  .footer__social-icon {
    margin-right: .625rem;
  }