html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
  }

  h1, h2 {
    font-size: 3.75rem;
    font-weight: 50;
    font-style: normal;
}

h3 {
    font-size: 2.0625rem;
    font-weight: 300;
    font-size: 2em;
}

.icon {
  height: 30px;
}

.small-text {
  font-size: 1.3125rem;
}

.p-text {
  font-size: 2.0625rem;
}

.text h2{
  font-size: 30px;
  font-style: normal;
}

.text-bold {
  font-weight: bold;
}

  /*header*/
  header {
    background-color: #fff0ed;
    height: 45vw;
}

  /*nav*/
  .nav {
    display: flex;
    padding-left: 30px;
    padding-top: 20px;
}

.nav-logo {
    display: inline;
}

.nav-brand {
    font-size: 3.125rem;
    font-weight: 100;
    display: inline;
    margin: 2px;
    text-decoration: none;
    color: #000;
}

.nav-link {
    list-style-type: none;
    display: inline-flex;
    line-height: 50px;
}

.nav-link-section {
    padding-right: 30px;
    display:flexbox;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}

.nav-tag {
    text-decoration: none;
    color: #393939;
    margin-right: 10px;
}

.nav-tag--blue {
    color: #5BACC3;
}

/* Hero Banner */

.hero {
  display: inline-flex;
  padding: 2% 5% 2% 8%;
}

.hero-content {
  display: inline;
  box-sizing: border-box;
}

.hero-image {
  display: inline;
  box-sizing: border-box;
}

.hero-beans {
  height: 70%;
}

.hero-text {
  width: 55%;
  margin-bottom: 5%;
}

.button {
  width: 180px;
  height: 55px;
  background-color: #5bacc4;
  color: #fff;
  padding: 0;
  border: none;
  font-size: 1.3125rem;
  border: 2px solid rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 7vw;
}

/*Product section*/

.products {
  text-align: center;
  background-color: #f0efef;
  padding-left: 3vw;
}

.products h2 {
  margin-top: 0;
  padding-top: 2%;
}

.products-button {
  margin-bottom: 7vw;
}

.product {
  background-color: #fff;
  width: 330px;
  height: 440px;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 2.5rem;
  display: inline-block;
  box-sizing: border-box;
  margin-right:50px;
  Padding: 20px;
}

.product-image {
  height: 30vh;
  padding-bottom: 2%;
}

.product-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  text-align: middle;
  height: 145px;
}

.product-text--description {
  padding-right: 30px;
}

.product-text--description {
  margin-top: 20px;
  margin-left: 50px;
  
}

.product-text--price {
  text-align:justify;
  margin-bottom: 20px;
  color: #5bacc4;
  font-weight: normal;
}

/* Discount Section */

.discount {
  height: 100px;
  min-width: 400px;
  max-width: 60%;
  background-color: #000;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  margin: auto;
  padding: 10px 0;
  margin-top: 7vw;
  margin-bottom: 7vw;
}

.discount-text {
  font-size: 2rem;
  color: #fff;
  line-height: 50px;
}

.discount-text span {
  font-size: 2rem;
}

/* Footer section*/

.footer {
  background-color: #fff0ed;
  display: flex;
  justify-content: center;
  padding: 3%;
  position: relative;
}

.footer-smaller-text {
  font-size: 1rem;
  font-weight: 100;
  line-height: 0.3;
}

.footer-icon {
  display: inline-block;
}

.footer-address,
.footer-hours,
.footer-social {
  margin-right: 8%;
}



