@import "constants";

@keyframes flash {
  from { background-color: rgba(0, 0, 0, 0.85); }
  to { background-color: $blue; }
}
.flash-discount {
  animation: flash 2.5s infinite alternate; 
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.rotate-img {
  animation: rotate 2s linear infinite;
}