$blue: #5BACC3;
$grey: #393939;
$lgrey: #f7f7f7;
$pink: #FFF0ED;

.heading-1, .heading-2 {
  font-size: 3.75rem;
  font-weight: 100;
}

.heading-3, .footer-heading {
  font-size: 2.063rem;
  font-weight: 100;
}

.nav-heading {
  font-size: 3.125rem;
  font-weight: 100;
}

.nav-link-text, .btn-text, .small-text {
  font-size: 1.313rem;
}

.discount-text {
  font-size: 2.813rem;
}

.menu-text {
  font-size: 1.125rem;
}

.standard-text {
  font-size: 2.063rem;
}